// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userpage{
    display: inline-block;
    vertical-align: top;
    margin-right: 200px;
}
.index{
    display: inline-block;
    margin-right: 200px;
    vertical-align: top;
}
.wrapper{
    padding: 50px;
}
